nav.navbar.navbar-inverse.navbar-fixed-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle.collapsed(
        type="button", data-toggle="collapse", data-target="#navbar",
        aria-expanded="false", aria-controls="navbar"
      )
        span.sr-only
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#", style="padding-top:4px")
        img(src="/assets/radishlogo.png",
          style="width:40px;height:40px;float:left"
        )
        ul(style="padding-top:12px;color:#fff;font-weight:200;\
          font-size:23px;font-family:sans-serif"
        ) Radish
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(id="settings", href='#')
            span.glyphicon.glyphicon-wrench
            span.glyphicon-class Settings
        if username = 'admin'
          li
            a(id="collaborators", href='#')
              span.glyphicon.glyphicon-plus
              span.glyphicon-class Add Collaborator
        li
          .dropdown
            li.dropdown-toggle(
              data-toggle='dropdown',style="margin-right:20px;"
            )
              img.dropdown-toggle.img-circle(
                style="width:30px;height:30px;margin: 10px 0 0 0;",
                src="/avatar.jpg",
              )
              span.caret(style="color:#fff;margin:9px 0 0 5px;")
            ul.dropdown-menu
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='/logout')
                  span.glyphicon.glyphicon-eject
                  span.glyphicon-class Logout
